<section>
    <h1 class="text-4xl font-bold text-gray-800 border-l-8 border-blue-600 pl-4 mt-6">
        Misi Keilmuan Prodi Teknik Informatika
    </h1>
    <p class="mt-4 text-gray-700 leading-relaxed text-lg">
        Adapun Misi Keilmuan Program Studi Teknik Informatika adalah:
    </p>
    <ol>
        <li>
            Menghasilkan lulusan yang memiliki pengetahuan dan kompetensi di bidang Data Analytics dan Software Development dalam rangka peningkatan daya saing lulusan di tingkat nasional maupun regional.
        </li>
        <li>
            Menghasilkan lulusan yang berkontribusi dalam pembangunan masyarakat berkeadaban dengan mengintegrasikan Informatika dan nilai-nilai keIslaman di bidang Data Analytics dan Software Development.
        </li>
    </ol>
</section>