<section>
    <h1>Strategi Pencapaian Prodi Teknik Informatika</h1>
    <h3>
        Excellent and competitive graduates
    </h3>

    <ol>
        <li>
            Mengembangkan kurikulum berbasis OBE dengan berfokus pada pengembangan bidang Data Analytics dan Software Development, dan Merdeka belajar yang menyesuaikan dengan kebutuhan dan tantangan pengembangan teknologi masa depan.
        </li>
        <li>
            Meningkatkan kemampuan penelitian mahasiswa di bidang Data Analytics dan Software Development.
        </li>
        <li>
          Meningkatkan kualifikasi dan kompetensi dosen di bidang Data Analytics dan Software Developmennt dalam pengembangan pembelajaran dan penelitian.  
        </li>
        <li>
            Meningkatkan jejaring dengan stakeholder untuk mendukung proses pembelajaran.
        </li>
        <li>
            Meningkatkan kerjasama di bidang pendidikan melalui Merdeka Belajar Kampus Merdeka (MBKM).
        </li>
        <li>
            Menyediakan Laboratorium yang mendukung pembelajaran Data Analytics dan Software Development.
        </li>
    </ol>
</section>