<section>
    <h1>
        Tujuan Prodi Teknik Informatika
    </h1>

    <p>
        Program Studi Teknik Informatika Fakultas Sains dan Teknologi UIN Suska Riau memiliki tujuan sebagai berikut: 
    </p>
    <ol>
        <li>
            Lulusan Program Studi memiliki kemampuan mengembangkan ilmu pengetahuan dan teknologi di bidang Data Analytics dan Software Development yang unggul dan mampu bersaing di tingkat nasional.
        </li>
        <li>
            Lulusan Program Studi memiliki karir sebagai profesional dalam bidang Data Analytics dan Software Development yang adaptif, produktif, inovatif, dan mampu berkolaborasi dalam pengembangan ilmu transdisiplin.            
        </li>
        <li>
            Lulusan Program Studi memiliki kemampuan memberikan solusi pemecahan masalah di lingkungan masyarakat melalui penerapan teknologi informasi berdasarkan nilai-nilai Islam.
        </li>
    </ol>
</section>