---
// import Navbar from "../pages/navbar.astro";
// import Hero from "../pages/hero.astro";
import "../styles/tailwind.css";
import About from "../pages/about.astro";
import Home from "../pages/home.astro";
import News from "../pages/berita/news.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---


<MainLayout>
    <section>
<Home />
<About />
<News />
  </section>
</MainLayout>
