---
// import Navbar from "../pages/navbar.astro";
// import Hero from "../pages/hero.astro";
import About from "../pages/globals/landing-pages/about.astro";
import Home from "../pages/globals/landing-pages/home.astro";
import HeroSlider from "../components/HeroSlider";
import News from "../pages/berita/news.astro";
import Center from "../pages/center.astro";
---

  <section>
    <HeroSlider client:load />
    <Home />
    <About />
    <Center />
    <News />
  </section>
