 <section class="max-w-4xl mx-auto px-6 py-16 space-y-12">
    <section class="bg-white shadow-md rounded-xl p-6 border border-gray-100">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Informasi Umum</h2>
        <ul class="space-y-2 text-gray-700">
        <li><strong>Fakultas:</strong> Sains dan Teknologi</li>
        <li><strong>Perguruan Tinggi:</strong> Universitas Islam Negeri Sultan Syarif Kasim Riau</li>
        <li><strong>Penyelenggaraan PS Pertama:</strong> September 1999</li>
        <li><strong>Nomor SK Pendirian:</strong> 4469/D/T/2004 (14 Mei 1999)</li>
        <li><strong>Penandatangan SK:</strong> Dirjen Pembinaan Kelembagaan Agama Islam</li>
        <li><strong>Nomor SK Lanjutan:</strong> DJ.II/26/2006 — 12 November 2004</li>
        <li><strong>Penandatangan SK:</strong> Dirjen Pendidikan Tinggi Depdiknas</li>
        </ul>
    </section>
  </section>