---
import "../styles/global.css";
import Navbar from "@/components/Navbar.tsx";
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/global.css" />
	</head>
	<body>
		<Navbar client:load />  <!-- Wajib pakai client:load -->
		<slot />
	</body>
</html>